#bgimg_line { background:url(../img/bg2.png)}
#stepBox { width:10000px; height:100%; position:absolute; top:0; left:0;}

.step {height:100%;position:relative;}

/*ys*/
.ys { position:absolute; z-index:4}
	#slogin { background:url(../img/slogin.png) no-repeat; width:637px; height:378px; left:50%; top:-800px; margin-left:-318px}
	#slogin1 { background:url(../img/slogin_1.png) no-repeat; width:184px; height:146px; left:-150%; top:200px; margin-left:-92px}
	#slogin2 { background:url(../img/slogin_2.png) no-repeat; width:770px; height:97px; left:150%; top:370px; margin-left:-383px}
	#slogin3 { background:url(../img/slogin_3.png) no-repeat; width:715px; height:136px; left:50%; top:2000px; margin-left:-360px}
	#slogin_line1 {width:1px; height:100%; left:-10px; top:0; border-right:1px dashed #aaa}
	#slogin_line2 {width:100%; height:1px; left:0; top:-10px; border-top:1px dashed #aaa}
	#zxzp { background:url(../img/next.png) no-repeat; width:117px; height:62px; left:50%; margin-left:-58px; bottom:30px; cursor:pointer; z-index:102}
	#fhsy {	background:url(../img/top.png) no-repeat; width:117px; height:62px; left:50%; margin-left:-58px; bottom:-130px; cursor:pointer; z-index:102}
	
	
	
/*imgshow*/
#imgshowBox {top:150px; width:100%; margin-top:80px; background:url(../img/step2Bg.png); padding:70px 0 80px 0}
#imgshow {width:800px; margin:0 auto; position:relative}
	#slidercontainer {width:800px; height:450px; overflow:hidden; margin:0 auto;}	
	#imgshow #left { background:url(../img/left.png) no-repeat center center; width:90px; height:140px; left:0;}
	#imgshow #right { background:url(../img/right.png) no-repeat center center; width:90px; height:140px; right:0;}
	#imgshow .images,#imgshow .loading { width:1000px; height:560px; background:#fff url(../img/loading.gif) no-repeat center center}
	#slidercontaine img  { width:100%; height:100%}
		
	#imgpage { position:absolute; bottom:-50px; z-index:999; width:100%;}
	#imgpage ul { overflow:hidden; display:block; width:100%; text-align:center;}
	#imgpage ul li { cursor:pointer; display:inline-block;width:20px; height:20px;line-height:30px; margin:1px; color:#aaa; text-align:center;background:url(../img/imgpagebg3.png) no-repeat 50% 1px;/*font-family:Georgia,serif;*/ font-family:微软雅黑;}
	#imgpage ul .current{color:#fff; background-position:50% -484px}

