/* CSS Document */
* { margin:0; padding:0;}
ul,dl,ol { list-style:none;}
a { text-decoration:none; color:#666;  blr:expression(this.onFocus=this.blur());outline:0; zoom:1; cursor:pointer}
img { border:0;}
div { cursor:default}
.fl { float:left}
.fr { float:right}
input {border-radius:4px}
body { line-height:22px; font-size:13px; color:#666666; font-family:Verdana,"宋体",Geneva,sans-serif; background:#222222 url(../img/register/bg_index1.gif) top left}


/*container*/
#container { width:800px; margin:0 auto; padding-top:70px}

/*fm*/
.fmBoxTit { background:#232323; text-align:center;line-height:45px; height:45px; border:1px solid #333; font-family:"微软雅黑"; font-weight:bold; color:#eee; font-size:16px; border-radius:6px 6px 0 0}
.fmBoxCon { border:1px solid #333; border-top:none; overflow:hidden; zoom:1; border-radius:0 0 6px 6px; padding:40px; background:#171717}
.fm dl { overflow:hidden; zoom:1; margin-bottom:10px}
    .fm .code a { vertical-align:bottom; line-height:13px}
    .fm dt,.fm dd { float:left}
	.fm dt { font-size:16px; line-height:30px; width:120px; text-align:right; padding-right:20px; color:#fff;font-family:"微软雅黑";}
    .fm dd input {font-family:Verdana, Geneva, sans-serif;height:18px; line-height:18px; padding:6px; border:2px solid #222; font-size:14px; width:240px; background:#eee; color:#000}
    .fm dd .code { width:50px}
	.fm .codeimg { border-radius:4px; cursor:pointer}
	.fm .dt .spanDl { text-align:left}
.fmBtn { text-align:center; margin:12px 0; overflow:hidden; zoom:1}
    .fmBtn * { margin:0 5px}
    .resBtn {  display:inline-block; background:url(../img/register/bg_btn_green.gif) repeat-x #66ab00 left top;border:0px solid #346d00; line-height:30px; height:30px; padding:0 60px; cursor:pointer; color:#fff; border-radius:4px; font-weight:bold; font-size:16px; margin-top:20px}
.fm dl *,.fmBtn * { vertical-align:middle;}

.fmnone { display:none}

.dlBox { border:1px dotted #222; background:#111; margin:30px 80px; padding:40px;overflow:hidden}
.dlBox select { font-size:14px; padding:3px}

.fm .spanDl { text-align:left}
.fm dt span { padding:5px; color:#930}



.onError{
   background:url(../img/register/act_2.png) no-repeat 0 center;
   padding-left:25px;
}

.high{
   color:red;
}