/*二级页面menu*/
#menu2 { height:61px; background:url(../img/bg-menu2.png) repeat-x; margin-top:240px}

.menu2_Box { width:1000px; margin:0 auto; position:relative; height:61px;}
	.menu2_Txt { position:absolute;width:119px; height:43px; line-height:43px; text-align:center; z-index:9;top:9px; font-size:15px; font-weight:bold; font-family:"微软雅黑；"}
	.mene2_1 { left:50px}
	.mene2_2 { left:250px}
	.mene2_3 { left:450px}
	.mene2_4 { left:650px}
	.mene2_5 { left:850px}
		.menu2_Txt a { color:#eee; display:block; width:100%; height:100%}
	.menu2_bg { width:119px; left:50px; height:43px; background:#1f1f1f; position:absolute; top:9px; z-index:1; display:none}
	
	.menu2_Txt .bes { color:#FF0; font-size:16px}




/*二级页面容器*/
#container_second { width:711px; margin:0 auto; padding-bottom:60px}
/*作品二级页面容器*/
#container_opus { width:800px; margin:0 auto; overflow:hidden; zoom:1; border:1px solid #333; border-top:none; margin-bottom:60px; background:#151515; padding:0 100px;padding-bottom:60px; }



/*新闻内容*/
.newsCon { background:url(../img/bg-second-news-bg.png) repeat; border-radius:8px 8px 0 0; border:1px solid #242424; padding:20px; padding-bottom:40px; font-family:"微软雅黑"; border-bottom:none; margin-top:60px;-webkit-box-shadow:2px 1px 2px #050505;-moz-box-shadow:2px 1px 2px #050505;}
	.newsCon_tit { font-size:22px; margin-bottom:20px; color:#82b800}
	.newsCon_txt { font-size:15px; overflow:hidden; color:#aaa; line-height:26px}
	.newsCon_txt a { color:#82b800; text-decoration:underline}
	.newsCon_txt p { text-indent:2em; margin:10px 0}
		.txt_l { float:left; width:530px; overflow:hidden}
		.txt_r { float:right; width:130px; text-align:right}
		.txt_r img { width:115px; height:127px;}
	.newsCon_bot { background:#111;text-align:right; font-family:Verdana, Geneva, sans-serif; color:#fff; -webkit-box-shadow:2px 1px 2px #050505;-moz-box-shadow:2px 1px 2px #050505; height:47px; line-height:47px; border-radius:0 0 8px 8px; padding:0 20px; color:#99d800; font-size:14px}
	
/*作品列表*/
.opusCon { float:left; _background:#707070; width:340px; height:240px; margin:0 30px;margin-top:60px; _display:inline}
	.opusImgBox { text-align:center; padding:20px 0;border:1px solid #888;background:#707070;border-radius:8px 8px 0 0;-webkit-box-shadow:2px 1px 2px #050505;-moz-box-shadow:2px 1px 2px #050505;}
	.opusBot {font-family:Verdana, Geneva, sans-serif; background:#303030;-webkit-box-shadow:2px 1px 2px #050505;-moz-box-shadow:2px 1px 2px #050505; height:47px; line-height:47px; border-radius:0 0 8px 8px; padding:0 20px; color:#fff; font-size:14px; overflow:hidden;zoom:1}
		.opusBot a { float:left; color:#99d800}
		.opusBot span { float:right}
		
	
