@font-face {
    font-family: 'DINMittelschrift';
    src: url('/resource/font/DINMittelschrift.woff2') format('woff2'),
    url('/resource/font/DINMittelschrift.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {margin:0;padding:0}
*:focus { outline: none;}
input,textarea {-webkit-appearance: none;outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
body,button,input,select,textarea{font-size:14px; line-height: 25px;font-family: PingFangSC-light,Arial,"Lucida Grande","Heiti SC","San Francisco",Helvetica;}
body { color: #484848; background-color: #f7f7f7}
a { color:  #c91448; text-decoration:none}

#progress {position: relative;width: 160px; margin:100px auto 30px auto;}
    #progress .subtitle { position: absolute; bottom:30px; left:0; right: 0;text-align:center; font-size: 12px; color:#ccc}
.progressbar-text:after {content:"积分"; font-size: 12px; padding-left: 5px;color:#ccc}
.progressbar-text {width: 100%; text-align: center;}
.descriptionBox {text-align: center; color:#4a4a4a}
.btn {background: #f53053; border-radius: 23px; height:46px;width: 200px; line-height: 46px; color:#fff; margin: 2em auto; text-align: center;}
.disableBtn {background-color: #ccc}
.btn:active {background-color: #746dc7; transition:background-color 1s}
#closeBtn {background: #f53053; border-radius: 23px; height:46px;line-height: 46px; color:#fff;  text-align: center; position: absolute; bottom: 30px; left: 30px; right: 30px;}
#resultCard {position: absolute; background-color: #fff; border-radius: 10px; height: 350px; width: 300px; left: 50%; top:-500px; transform:translate(-50%,0); box-shadow: 0 0 40px rgba(0,0,0,0.08)}
#resultCard h1 {text-align: center; margin-top: 1em; font-size: 1.4em; color: #4a4a4a}
#resultCard .con { text-align: center; padding: 1em}
.iconBox { width: 60px; margin: 0 auto; margin-top: 30px;}
.iconBox img {width: 100%}
