*:focus { outline: none;}
input,textarea {-webkit-appearance: none;outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body{background: #fafafa;}
body,button,input,select,textarea{ color:rgb(92, 92, 92); font-size:16px; line-height: 2em; font-family: "PingFangSC-light","微软雅黑",Arial,"Lucida Grande","Heiti SC","San Francisco",Helvetica;overflow-wrap:break-word;}
#container {max-width:700px; margin:0 auto; overflow: hidden;white-space:normal; /*word-break:break-all;text-align:justify;*/ background-color: #fafafa}
.context {letter-spacing: 0.35px;}
a { color:  #c91448}
h1,h2,h3,h4,h5,h6 { font-weight: normal; color:rgb(72, 72, 72);}
h3,h4,h5,h6 { margin-top:2em}
h1{font-size:1.7em; color: #2a2a2a;line-height:1.4em; margin-top: 1em}
h2{font-size:1.8em; display:block;line-height: 1.4em; font-weight: bold; margin-bottom:0; margin-top:2.2em;color: #2a2a2a;}
/*h3{font-size:1.2em; line-height: 1.8em; font-weight: bold; margin-left: 25px; margin-right: 25px; border-left: 4px solid #c83c46;border-right: 4px solid #c91448; padding-left: 4px;padding-right: 4px; background: #efefef; text-align: center; font-weight: normal; margin-top: 3em}*/
h3{font-size:1.3em;  line-height: 1.3em;  font-weight: bold; margin-top: 2em; margin-bottom: 0;color: #2a2a2a;}
/*h2::before {content:"「 "}*/
/*h2::after {content:" 」"}*/
h4{font-size:1.3em; line-height: 1.3em; font-weight: bold;  width: 50%; margin: 0 auto; margin-top: 1.5em; margin-bottom: 2em; border:2px solid #444; color: #444;text-align: center; padding:0.5em 1em; border-left: 0; border-right: 0}
h4,h5,h6{font-size:1em}

a{text-decoration:none; word-wrap: break-word; word-break:break-all}
a:hover{text-decoration:underline}
img{border:0;width: 96%; height: auto; border-radius: 8px; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); display: block; margin: auto}
.no-shadow img { box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);}
button,input,select,textarea{font-size:1em}
table{border-collapse:collapse;border-spacing:0}
section.context { padding-top:0.4em}
.articleContainer {margin:0em 1.5em 3em 1.5em}

mark { background: #f9f2f4; color: #c7254e; padding:0.1em 0.3em; display:inline-block; border-radius:4px; line-height: 1.3em}
.quot { display: block; text-align:center;}
hr { border:none; border-top: 1px dashed #e4e4e4; height: 1px; overflow: hidden}

ol,ul{ margin:1.5em 1em 1em 2em}
table,p,hr,blockquote  {margin:1.2em 0;}
li { padding: 0.35em 0}
li p {margin:0}
blockquote { background: #f2f2f2; display: block; padding:0.1px 1em; border-radius: 4px;}
blockquote header {font-weight: bold;  font-size: 1.2em;  text-align: center;  padding: 1em 0 0.5em 0;  border-bottom: 1px solid #eaeaea;  margin: 0 1em;}

.tab td {padding:0.5em; background: #fafafa;word-break:break-all;}
.tab,.tab td { border:1px solid #cfcfcf; }
.tab td {border-top: 0; border-left: 0}
.tab {border-right: 0; border-bottom: 0;}
.tab th { background: #ddd; color:#333}
.tab tr:nth-child(even) td { background: #fefefe}
.font-size-110 { font-size: 1.1em}
.font-size-100 { font-size: 1em}
.font-size-90 { font-size: 0.9em}
.font-size-80 { font-size: 0.8em}
.font-size-70 { font-size: 0.7em}
.font-size-60 { font-size: 0.6em}
.font-size-50 { font-size: 0.5em}
.font-size-40 { font-size: 0.4em}
.font-size-30 { font-size: 0.3em}
.font-size-20 { font-size: 0.2em}
.font-size-10 { font-size: 0.1em}

.circle img { border-radius: 10000px;}
.width-10 { width: 10% }
.width-20 { width: 20% }
.width-30 { width: 30% }
.width-40 { width: 40% }
.width-50 { width: 50% }
.width-60 { width: 60% }
.width-70 { width: 70% }
.width-80 { width: 80% }
.width-90 { width: 90% }
.width-100 { width: 100% }
.center { text-align: center; }

.img-10,.img-20,.img-30,.img-40,.img-50,.img-60,.img-70,.img-80,.img-90 { text-align: center}
.img-10 img { width: 10% }
.img-20 img { width: 20% }
.img-30 img { width: 30% }
.img-40 img { width: 40% }
.img-50 img { width: 50% }
.img-60 img { width: 60% }
.img-70 img { width: 70% }
.img-80 img { width: 80% }
.img-90 img { width: 90% }

.boxWithTitle { background: #f8f8f8; padding:10px 0; padding-top: 20px; border-radius: 6px; position: relative; text-align: center; margin: 1.5em 25px; margin-top: 4em}
.boxWithTitle tt { display: inline-block;  background: #666; color: #fff; position: absolute;top: -10px; left:50%; transform: translate(-50%,0); padding: 2px 20px; border-radius: 6px}

#coverImgBox { width: 100%;}

.viewBox { text-align: center; padding-top: 2em }

@keyframes animate1{
    0% {transform: rotate(-12deg)}
    100% {ransform: rotate(0deg)}
}
@keyframes animate2{
    from {opacity:0;}
    to {opacity:1;}
}

.animate1 {animation: animate1 0.5s;}
.animate2 {animation: animate2 1s}
.imgDescribe { text-align: center; margin-top: -1.5em }

.authorBox {position: relative; display: flex; justify-content: space-between; font-size: 14px;margin-top: 0.5em}
.authorBox .left{ display: flex; flex-direction: row; align-items: center; color: #aaa}
.authorBox i {font-style: normal;padding-right: 10px}
.authorTitle {padding-left: 10px;line-height: 20px; display: flex; flex-wrap: wrap}
.authorBox .author { color:#c74457}
.authorHead {width: 26px; height:26px; border-radius: 45px; border:2px solid #eee;text-align: center; overflow: hidden; background-color:#efefef; background-size: 100% auto; background-position: center;}
body #container .center { text-align: center; }
body #container .center * { text-align: center;}
.readCount {margin-top: 3em; margin-bottom: 3em; color: #999; text-align: right; font-size:1em; display: flex; flex-direction: row; align-items: center; justify-content: center}
    /*.readCount em { flex: 1; line-height: 0; height: 0; border-top: 1px solid #eee; display: block;}*/
    .readCount span { display:block; border:1px solid #eee; padding:2px 13px; margin:0 10px; border-radius: 100px}


/*foldBox*/
.foldBox {position: relative; overflow:hidden;max-height:220px;text-overflow:ellipsis; margin-bottom: 10px;}

    .foldBox .foldBtn{ cursor: pointer; position: absolute; bottom:0px; height: 34px; padding-top: 50px;  left:0; overflow: hidden; width: 100%; text-align: right; /*background: #fff;*/ background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); color: #c74457;-webkit-tap-highlight-color:rgba(255,0,0,0);}
    .foldBox .foldBtn div { padding-right: 30px }
    .foldBox .hide {display: none}
    .foldBox .show { display: block; }
    .foldBox svg {height: 16px; width: 10px; transform: translate(10px,2px);}
    .foldBox .hide svg { transform:rotate(180deg) translate(-10px,-2px); }
    .foldBox svg path {fill: #c74457;}

    .foldBoxShow { max-height: none; padding-bottom: 40px;}
    .foldBoxShow .foldBtn .hide{ display: block; }
    .foldBoxShow .foldBtn .show {display: none}
    .foldBoxShow .foldBtn { background: none;padding: 0}


/*评论*/
#commentComponent { font-size: 15px; line-height: 17px; padding:1.5em;  margin-top: 1.5em;  background:#fafafa;border-top: 10px solid #f2f2f2}
#commentComponent .textAreaContainer {display: flex;margin-bottom: 5em; position: relative}
#commentComponent .textAreaContainer textarea { flex:1; color:#484848; padding: 10px; border:2px solid #ccc; border-radius: 4px}
#commentComponent .textAreaContainer #commentButton { width: 120px; height: 36px; line-height: 36px; background: #c83c46; color: #fff; text-align:center; margin-left:10px; cursor: pointer; border-radius: 4px; position: absolute; right: 0px; bottom:-45px}
#commentComponent .textAreaContainer #commentButton.loading {background: #ccc}
#commentComponent header {color: #838383; margin-bottom: 1em;}
#commentListContainer .commentContainer .parentComment { display: flex;}
#commentListContainer .commentContainer .parentComment .comment .l1 {padding-top: 0.3em}
#commentListContainer .commentContainer .avatar {width: 40px;height: 40px; background-repeat:no-repeat; background-size: 100% auto; background-position: center; margin-right: 1em; border-radius:100px}
#commentListContainer .commentContainer .comment {flex: 1;}
#commentListContainer .commentContainer { margin-bottom: 1.3em; padding-top: 1.1em}
#commentListContainer .commentContainer:last-child {padding-bottom: 1.1em}
#commentListContainer .commentContainer .l1 { color: #3e3e3e}
#commentListContainer .commentContainer .l1 span { color: #727272}
#commentListContainer .commentContainer .l2 { margin: 5px 0;color: #bdbdbd; font-size: 13px;}
#commentListContainer .commentContainer .l2 span { }
#commentListContainer .commentContainer .l2 i { padding: 0 10px}
#commentListContainer .commentContainer .l2 em { font-style: normal;font-size: 13px; cursor: pointer; margin-left: 15px; }
#commentListContainer .commentContainer .l2 em:hover { color: #c83c46}
#commentListContainer .commentContainer .childComment { margin-left: 56px; background: #eaeaea; overflow: hidden; border-radius:6px}
#commentListContainer .commentContainer .childComment .comment {margin: 0.7em 0.7em 0 0.7em}
#commentListContainer .commentContainer .childComment .comment:last-child {border-bottom: 0}
#commentListContainer .replyBox {display: flex;align-items: center; justify-content: center;margin-top: 10px}
#commentListContainer .replyBox input {flex:1; border:2px solid #e4e4e4;padding: 4px 6px; color: #484848}
#commentListContainer .postButton { width: 50px; height: 30px; line-height: 30px; color: #fff; background:#c83c46; text-align: center; font-size: 12px; margin-left: 10px; border-radius: 4px; cursor: pointer}
#commentListContainer .postButton.loading {background: #ccc}
#commentComponent #loadMoreButton { margin: 2em auto 2em auto; padding: 10px 0; border-radius: 4px; background: #666; width: 200px; text-align: center; cursor: pointer; color:#fff;display: none}
