#menuBg { width:100%}
#menuBox { top:0}
#menucur { display:block}

.secondCon {position:absolute; height:280px; bottom:-300px; left:50%; margin-left:-600px;}
.imgBoxHdOut,#scrollbarBox { width:1200px;}
#secondTit { font-size:20px;color:#CCC; line-height:20px;background:url(../img/second_bg4.png); height:67px; width:147px; font-family:"微软雅黑"; position:absolute; top:-90px; left:40px;}
#secondTit div { width:100%; height:100%;}
	#vision #secondTit div { background:url(../img/second_tit_1.png) no-repeat 50% 15px}
	#retouch #secondTit div { background:url(../img/second_tit_2.png) no-repeat 50% 15px}
	#design #secondTit div { background:url(../img/second_tit_3.png) no-repeat 50% 8px}
.imgBoxHdOut { position:relative; height:252px; overflow:hidden;background:url(../img/second_bg.png);}
.imgBoxHDBox {overflow:hidden; position:relative; height:180px; width:1060px; margin:0 auto; top:35px;}

#imgBoxHD { overflow:hidden; height:100%; position:absolute}
.imgBoxBg {overflow:hidden; width:192px; float:left; background:#ccc;padding:4px;  border:1px solid #eee;margin:10px 5px;}

	#imgBoxHD .cur { background:#9c1444; border:1px solid #ce1657}	
	
	
	.imgBox { width:100%; height:150px; overflow:hidden; position:relative; text-align:center;-webkit-box-shadow: 2px 3px 7px rgba(0,0,0,0.38);/*-moz-box-shadow: 2px 3px 7px rgba(0,0,0,0.38);box-shadow: 2px 3px 7px rgba(0,0,0,0.38);*/}
	.imgBox a,.imgBox .imghover,.imgBox .imghoverIcon{ display:block; position:absolute; width:100%; height:100%;}
	.imgBox a { z-index:9}
	.imgBox .imghover {background:#000; top:0; left:0; display:none}
	.imghoverIcon { background:url(../img/second_bg7.png) no-repeat top center; top:-132px;}

.imglr { position:absolute; width:65px; height:65px; top:90px; cursor:pointer}
.imglr div { background:url(../img/second_bg5.png); width:100%; height:100%;}
#imgleft { left:5px;}
#imgright{ right:5px;}
	#imgleft div { background-position:0 0}
	#imgright div { background-position:-65px 0}
	#imgleft .hover { background-position:0 -62px}
	#imgright .hover { background-position:-65px -62px}
	
#scrollbarBox {height:11px; width:1060px; left:50%; margin-left:-530px;/*background:url(../img/second_bg2.png) no-repeat center top;*/ position:absolute; bottom:25px; display:block}
#scrollbar { width:84px; height:24px; background:url(../img/second_bg_scroll.png) no-repeat 50% 50% ; display:compact; cursor:pointer; position:absolute;}





#jquery-overlay { position: absolute; top: 0; left: 0; z-index: 999; width: 100%; height: 500px; }
#jquery-lightbox { position: absolute; top: 0; left: 0; width: 100%; z-index: 999; text-align: center; line-height: 0; }
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box { position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto;}
#lightbox-container-image { padding: 15px;}
#lightbox-loading { position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#lightbox-nav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10;}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none; }
#lightbox-nav-btnPrev, #lightbox-nav-btnNext { width: 49%; height: 100%; zoom: 1; display: block; }
#lightbox-nav-btnPrev { left: 0; float: left; }
#lightbox-nav-btnNext { right: 0; float: right; }
#lightbox-container-image-data-box { font: 13px Verdana, Helvetica, sans-serif; overflow:hidden; text-align:center; margin: 0 auto;overflow: auto; width: 100%; padding: 10px 15px 0 15px;color:#eee; margin-bottom:50px}
#lightbox-container-image-data { }
#lightbox-container-image-data #lightbox-image-details { width: 100%;}
#lightbox-image-details-caption { line-height:24px}
#lightbox-image-details-currentNumber { display: block; clear: left; padding:0.5em 1.0em;color:#eee; background:#222; border:2px solid #eee; width:50px; margin:0 auto; border-radius:4px;-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
box-shadow: 1px 2px 5px rgba(0,0,0,0.75);}
#lightbox-secNav-btnClose { position:absolute; top:10px; right:-50px; width: 50px; overflow:hidden; height:60px; z-index:99;}


#lightboxmy { overflow-y:auto; position:absolute; width:100%; top:0;}
