/**
 * Created by Jerry on 2017-11-06.
 */
html,body {height: 100%;}
body{margin:0;padding:0;font-family:"PingFang SC";font-size:14px;font-weight:lighter}
a{text-decoration:none;color:#4a4a4a}
input,button,select,textarea{outline:none;font-family:"PingFang SC";font-weight:lighter}
@media print{
    body{display:none}
}

@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1510100105816'); /* IE9*/
    src: url('iconfont.eot?t=1510100105816#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.ttf?t=1510100105816') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1510100105816#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {  font-family:"iconfont" !important;  font-size:16px;  font-style:normal;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  }
.icon-xiugai:before { content: "\e65b"; }
.icon-shanchu:before { content: "\e625"; }

input[type='submit'] {
    display: inline-block;
    padding: 5px 20px;
    background: #00CC66;
    color: #fff;
    border:0;
    font-size: 19px;
    cursor: pointer;
    border-radius: 30px;
}



/*login page*/
#containerLogin{background:#484848 url("../image/bg.jpg") no-repeat;background-size:100% 100%;overflow:hidden;min-height:500px; height: 100%}
    #containerLogin header{text-align:center;color:#fff;margin-top:150px;margin-bottom:60px;font-weight:lighter}
    #containerLogin header h1{font-weight:normal;font-size:44px;margin-bottom:0px}
    #containerLogin .loginFormBox{width:300px;margin:0 auto}
    #containerLogin #errorBox{color:#fff;text-align:center;padding:5px 0px;margin-bottom:30px;background:rgba(199,44,112,0.8);border-radius:30px;position:relative;display:none}
    #containerLogin #errorBox i{position:absolute;display:block;color:rgba(199,44,112,1);width:19px;height:19px;overflow:hidden;background:rgba(255,255,255,1);line-height:20px;border-radius:10px;right:10px;top:5px;text-align:center;cursor:pointer;opacity:0.6;font-family:Arial;font-size:13px;font-weight:lighter;font-style:normal}
    #containerLogin input[type="text"],#containerLogin input[type="password"]{border:1px solid rgba(255,255,255,0.5);background:rgba(255,255,255,0.1);border-radius:50px;padding:10px 20px;color:#fafafa;margin-bottom:25px;font-size:18px;width:calc(100% - 40px);text-align:center}
    #containerLogin button{display:inline-block;width:100%;height:45px;margin:0 auto;background:#c72b70;border:none;border-radius:25px;cursor:pointer;color:#fff;font-size:18px}
    #containerLogin button:active{background:#b32262}

/*cms page*/
#cmsContainer {display: flex; flex-direction:row; flex:1; min-height: 100%; font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; color:#676a6c;background: #f3f3f4;}
    /*nav*/
   .cmsNav { background:#304151; min-height: 100%; width: 220px; color: #fff}
        .cmsNav ul { list-style: none; margin: 0; padding:0}
        .cmsNav ul li { display: block; background: #2a3947; margin-bottom: 1px;}
        .cmsNav ul li a { display: block; line-height: 100%; color:#a0aabb; padding: 16px 20px}

    /*con*/
    .cmsCon { flex:1; min-height: 100%;}
        .cmsConHeader { background: #fff; border-bottom:1px solid #e7eaec}
            .cmsConHeader span {padding:18px 30px; font-size: 20px; display: block}
        .cmsConSection { margin: 40px;}
        .cmsConSectionWhite { background: #fff; padding: 40px;}



    /*userContainer*/
    .userContainer {display:flex; flex-direction: row; flex-wrap:wrap}
        .userBox { width: 300px; background: #fff; height: 120px; margin: 10px; padding: 30px; display: flex; flex-direction: row; position:relative}
        .userBox .userAvatarBox { width: 100px; height: 100px; background: url("../image/avatar.png") no-repeat; background-size: 100% 100%; border-radius: 50px;}
        .userBox .UserInfoBox {padding-left: 20px;}
            .userBox .UserInfoBox h1 { margin:5px 0 0 0; font-size: 19px; }
            .userBox .UserInfoBox span { padding-right: 10px}
            .userBox .UserInfoBox .tooBox {position:absolute; top:10px; right:10px}
            .userBox .UserInfoBox .tooBox a { display: inline-block; width: 20px; height:20px; border-radius: 20px;  text-align: center; line-height:20px; padding:4px; background: #f8f8f8; color:#888; margin-left:10px}
            .userBox .UserInfoBox .tooBox a:hover { color:#333; background: #eee}

            .noticeBox { background: #fff; padding: 30px; text-align: center}



/*tables*/
.cmsTableBox { background: #fff; padding: 30px;}
    .cmsTableBox table { width: 100%; border-spacing: 0}
    .cmsTableBox table td {padding:20px 10px; border-bottom: 1px solid #eee}
    .cmsTableBox table td .icon { display: inline-block; margin: 0 10px; background: #ed5565; color: #fff; padding: 5px 20px; border-radius: 30px; text-align: center}
    .cmsTableBox table .textRightAlign { text-align: right}

    .protectedImg  { width: 200px; height: 200px; background-size: auto 100%; background-position: center; margin: 20px}
