
body{
	background-color: #fff;
	margin: 0 auto;
}

hr{
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.container{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.showTask{
		background-color: #fff;
		height: 300px;
		width: 94%;
		margin-top: 5%;
		margin-left: 3%;
		margin-right: 3%;
		border-color: black;
		border-style: solid;
		border-width: 1px;
		border-radius: 6px;
		text-align: center;
	}

.showDetail{
		background-color: #fff;
		height: 25%;
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		border-color: black;
		border-style: dashed;
		border-width: 1px;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

.signButton{
     	background-color: #2471a3;
        border: none;
        color: white;
        padding: 10px 24px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        width: 94%;
        height: 16%;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 5px;
}

.showAchieve{
		display: flex;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		margin-left: 3%;
		margin-right: 3%;
}

.achieveStyle{
		display: flex;
		flex-direction: row;
     	background-color: #2ECC71;
        color: white;
        padding: 10px 24px;
		margin-right: 10%;
		margin-bottom: 20px;
        border-radius: 5px;
        align-items: center;
}

.achieveIcon{
	flex:1;
	width: 5%;
	height: 5%;

}

.achieveDetail{
	flex:3;
	flex-direction: column;
	color: white;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-left: 5%;
}

.dayLightOn{

}

.dayLightOff{
    width: 35px;
    height: 35px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border-color: grey;
    border-style: solid;
    border-width: 2px;
}

.lightOnFont{

}

.lightOffFont{
	color: grey;
	margin-bottom: 10px;
}

