body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body #background-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
body #top-part {
  width: 100%;
  height: 70%;
}
body #music-box {
  position: absolute;
  bottom: 0;
  height: 29%;
}
body #music-box .block {
  background-color: #7bb2a7;
}
