@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0}
body { background:url(bg.png); font-size:12px;}

#mainContent { width:800px; margin:0 auto; padding-top:40px}

#code_source { width:760px; height:150px; border:1px solid #ececec; padding:20px; color:#666}

#mainContent .syntaxhighlighter { overflow:hidden!important; border:1px solid #ececec; padding:20px 0}

.operateTB { padding:10px 0}

.form-inline p { padding:20px 0 0 0}


