html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#ea {
    position:absolute;
    top:0;
    left:0;
    background: #fff
}
#ea * { display: block; width: 200px; border:0; margin:0; padding:0}
#ea textarea { height: 200px; border-top: 5px solid #ccc;border-bottom: 5px solid #ccc}
#ea button {  width: 200px; height: 30px; cursor: pointer;}

#container {
    margin: 0 auto;
}

.caseBox {
    background: #efefef;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 60px;
}

.caseBox header {
    padding-bottom: 10px;
    border-bottom: 4px solid #aaa;
}

.caseBox header span {
    font-weight: bold;
    padding: 0 20px;
    font-size: 18px;
}

.caseBox div {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.caseBox div span {
    display: block;
    flex: 1;
    text-align: center;
    padding: 5px;
}

.caseBox .subTitle {
    border-bottom: 2px solid #aaa;
    font-weight: bold;
}
