@font-face {
    font-family: 'DINMittelschrift';
    src: url('/resource/font/DINMittelschrift.woff2') format('woff2'),
    url('/resource/font/DINMittelschrift.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {margin:0;padding:0}
*:focus { outline: none;}
input,textarea {-webkit-appearance: none;outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
body,button,input,select,textarea{font-size:14px; line-height: 25px;font-family: PingFangSC-light,Arial,"Lucida Grande","Heiti SC","San Francisco",Helvetica; background: #fff}
body { color: #484848;}
a { color:  #c91448; text-decoration:none}

.pageHeader {background:#fd351e; height:200px}
.creditCard { position: absolute; top:80px; left:15px; right:15px; background: #fff; border-radius: 10px; box-shadow: 0 0 14px rgba(0,50,140,0.1); padding: 20px 24px;}
    .creditCard .title {color:#d2dbe2; font-size: 12px;}
    .creditCard .point { color: #273a4b; font-size: 3.5em; font-weight:bold; font-family: 'DINMittelschrift';line-height: 2em; padding-left: 5px}
    .avatar {  height: 60px;  width: 60px;  border-radius: 50%;  background-color: white;  position: absolute;  top: -30px;  right: 30px; background-repeat: no-repeat; background-size: 100% auto;}
    .creditBtnBox {display: flex; justify-content:space-between}
    .creditBtnBox .btn_1 { flex:1; display: block; text-align: center; overflow: hidden ;text-decoration: none; background: #333; padding:8px 0; border-radius: 6px; color:#fff}
    .creditBtnBox .btn_1:nth-child(1) {margin-right: 10px}
    .creditBtnBox .btn_1:active {background: #111}

.pageBody { margin-top: 90px}

.moreBtn {  text-decoration:none; color:#484848;text-align: center; color:#fff; position: absolute; font-size:1.1em; left:20px; top:30px}

.creditRecord {padding:20px; color:#686868; margin:0}
    .creditRecord h1 { font-size: 1.1em; margin-bottom: 10px;  text-align: center}
    .creditRecord h2 { font-size: 1.1em; margin-bottom: 10px;  text-align: center; margin-top:1.5em}
    .creditRecord .desRow { display: flex; line-height: 1em; justify-items: center; align-items: center; margin-top: 10px; background: #f8f8f8;  border-radius: 50px; padding:10px 15px}
    .creditRecord .desRow span { flex:1;}
    .creditRecord .desRow i { display: inline-block; padding-right: 10px;font-size: 1.2em; font-family: 'DINMittelschrift';font-style: normal;}
    .creditRecord .date { color:#bbb; text-align:center; font-style: normal;font-size: 12px; padding-top: 4px}
/*.pageListBox*/
.pageListBox { text-align: center;}
.pageListBox a ,.pageListBox i { display: inline-block; border-radius:4px; background: #f2f2f2; color:#aaa; padding:3px 7px; margin: 0 2px; margin-top: 40px; font-style:normal; transition: background 0.2s, color 0.2s;}
.pageListBox i { background: #ccc; color:#888; cursor: default; visibility: hidden}
.pageListBox .current,.pageListBox a:hover { background: #C83C46; color:#fff}
