body {
    background: #f4f4f4;
    margin: 0;
    padding: 0
}

#pageBox {
    width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 50px;
    margin-top: 70px;
}

header {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    text-align: center
}

section {
    padding: 20px;
    text-align: center;
}

#processingBox {
    padding: 20px;
}

a {
    color: cadetblue
}

#processBar {
    width: 600px;
    margin: 0 auto;
    border-radius: 6px;
    height: 30px;
    background: #ccc;
    overflow: hidden;
}

#currentProcess {
    width: 0%;
    height: 100%;
    background: cadetblue
}

#startBtn {
    display: inline-block;
    background: #484848;
    color: #fff;
    padding: 20px 30px;
    cursor:pointer;
    border-radius: 30px;
    margin-top: 20px;
}

#container {
    display: none;
}